:root {
  --fuente-principal: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-image: linear-gradient(
    to top,
    #4081e3,
    #009def,
    #00b2d5,
    #00c09f,
    #41c75e
  );
  background-size: cover;
  height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 100px 50px 60px;
}
